body {
    width: 1150px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
}

h1 {           
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.03em;
    width: 956px;
    height: 120px;
    margin-top: 128px;
    margin-bottom: 40px;

    color: #121212;
} 

.parent {
    font-size: 20px;
    font-weight: 400;
    line-height: 27p;
    letter-spacing: -0.03em;
    width: 430px;
    height: 81px;
    margin-left: 39px;
    padding-top: 369px;

    color:#ffffff;
}

.interier-body {
    width: 1150px;
    height: 500px;
    background-image: url('../resources/interier-body.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    width: 51px;
    height: 25px;
    margin-top: 145px;
    margin-bottom: 30px;
    /* margin: 150px 138px 30px; */
        
    color: #121212;
}

.preconnect {
    font-size: 45px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: -0.03em;
    width: 1048px;
    height: 366px;
    /* margin: 30px 141px 30px; */
    color: #121212;
} 

a {
    display: inline-block;
    /* margin-top : 30px;
    -left:138px;margin */
    padding: 20px 40px;
    border-radius: 5px;
    margin-top: 30px;
    text-decoration: none;
    background-color: #ad1818;
    color: #ffffff;


}
