body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
/*     background: #f5f5f5; */
}

.container {
    margin: 0 auto;
    width: 1400px;
    background: #ffffff;
    padding: 125px;
}

.interier-body {
    position: relative;
    margin-top: 30px;
    width: 1150px;
    height: 500px;
    background-image: url('../resources/interier-body.jpg');
    background-repeat: no-repeat;
/*     background-size: contain; */    
}

.parent {
    position: absolute;
    top: 379px;
    left: 40px;
    width: 430px;
    height: 81px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color:#ffffff;
    }

h1 {
    width: 956px;
    height: 120px;       
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    letter-spacing: -0.03em;
    color: #121212;
} 

h2 {
    margin-top: 150px;
    width: 51px;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
}

.preconnect {
    margin-top: 30px;
    width: 1048px;
    height: 366px;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
}

a {
    margin-top: 30px;
    display: block;
    width: 255px;
    height: 67px;
    border: 1px solid #ad1818;
    border-radius: 5px;
    line-height: 67px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color: #ad1818;
    color: #ffffff;
    box-sizing: border-box;
}
